.table {
  width: 100%;
  overflow-x: auto;
  margin:10px 0;
}

.table table {
  width: 100%;
  max-width: 100%;
  border:1px solid #dadada;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

.table table tr th {
  background-color: #C6D9F1;
}

@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.table table tbody tr {
  border-bottom: 1px solid #dadada;
}

.table table th {
  font-weight: 700;
  border: 1px solid #dadada;
}

.table table th,
.table table td {
  padding: 0.5em;
  text-align: left;
  border: 1px solid #dadada;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid #dadada;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--light-color);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid #dadada;
}
